apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: httpbin-public
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /get
        pathType: Prefix
        backend:
          service:
            name: httpbin
            port:
              number: 80